<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/file-audio-regular.svg') }}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/85bdfc944a.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <title>Vocabulary audio</title>
</head>
<body>
    

    <div class="wrapper">
        <div class="container">
            <div class="logo">
                <img src="../static/img/google_logo.png" alt="">
                <span>Audio</span>
            </div>
            
            <div class="search-bar">
                <div class="search-bar-content">
                    <div class="upload">
                        <p>Text</p>
                        <i class="fas fa-times" onclick="removeFileUpload()"></i>
                    </div>
                    <form id="form" enctype="multipart/form-data" action='/audio' method="POST">
                        <input type="text" id="search" name="search" autofocus="autofocus" onkeyup="showRemoveButton()">
                        <input type="submit" id="submit" value="Search">
                    </form>
                </div>
                <ul>
                    <li id="btnRemove" onclick="removeInput()"><a href="#"><i class="fas fa-times"></i></a></li>
                    <li><a href="#" onclick="createUploadButton()"><i class="fas fa-paperclip"></i></a></li>
                    <li><a href="#" onclick="submitWord()"><i class="fas fa-search"></i></a></li>
                </ul>
            </div>
            
        </div>
    </div>

    {% if audio %}
        <!-- <script type="text/javascript" src="/static/js/download.js">
        </script> -->
        <script>
            let audio_url = "{{audio}}";
            let filename = "{{word}}".concat(".mp3");
            if (audio_url.length > 0) {
                downloadResource(audio_url, filename);
            }
            else {
                alert("\"{{word}}\" not found!");
            }
        </script>
    {% endif %}
    
</body>
</html>